/node_modules
.env
.env.test
.DS_Store
/src/demo.js
/src/server.js
/report
/demo
/http
/.vscode
*.generated.*
/src/script
coverage/
/dist


src/common/services/__tests__/logger.service.test.ts
src/common/services/logger.service.ts
